<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>About Me</title>
        <link href="C:\Users\USER\Documents\git\2024-08-05_Encore\day73\single_pages\templates\single_pages\bootstrap5\css\bootstrap.min.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary container">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Do It Django</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">About Me</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Download link
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>

        <div class="container">
            <div class="row my-5">
                <div class="col-9">
                    <h1>Hello. I'm jihwan.</h1>
                    <h2>Work Experience</h2>
                    <h3>Portfolio</h3>
                </div>
                <div class="col-3">
                    <img src="https://d3kxs6kpbh59hp.cloudfront.net/community/COMMUNITY/451e60229e7945a5a81258ebb8cabdaa/aaaa744cf80b4c71b2473334addcde9e_1535190560.jpg" class="img-fluid w-100">
                </div>
            </div>

            <div class="row">
                <div class="col bg-info col-lg-6">
                  <!-- 파이리 -->
                   <img src="https://i.namu.wiki/i/OB6OZOlUZmAiIegjDsi1CLwbRlSfhMMt4rNrq3NpCGWgeFfse6zg9ZeF3lq18_RdGqdI_Bvj-DiPvV4JPL-4JYPk3NX_nnXox26McWyoHg4qAmJX2j_-6JpF67FSRj4AZ5lsRorNtPbX_oj7PjiCEw.webp" class="img-fluid h-100">
                </div>
                <div class="col bg-secondary col-lg-3">
                  <!-- 리자드 -->
                  <img src="https://i.namu.wiki/i/2FEqnYMKcqrM8AYJQG0H6lTGAnHT9N6vnfr4-NSxp3XSiCSFWJT4uJz_YEpsGjQatu0nxQIBDGl1wG3lT55jfbPz5HXgHs7PARqdraF2QrPmuzUkAJkz3sTliZNcwM0dCdBl8rJo_Vo9eqn9wc1r1A.webp" class="img-fluid h-100">
                </div>
                <div class="col bg-warning col-lg-3">
                  <!-- 리자몽 -->
                  <img src="https://i.namu.wiki/i/Z2YjC6Gu2PfiYWyt7Y7ikCkWvMWY10K565ZS3KNsPI4l5gCjGF4MV7DXWWloN3OYib_SHK7KXroUiT2Kwnd326HjfmW-F13FF1s4lzsRt_ALPT405pfJlzzSoPQ3hglFBuFjEVtM582KxJeWtZ_Rng.webp" class="img-fluid h-100">
                </div>
              </div>
        </div>


        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>