* {
    box-sizing: border-box;
}

#container {
    width: 650px;
    height: 900px;
    border: 1px solid black;
    padding: 10px;
    background-color: aquamarine;
}

body, html {
    height: 100%;
}

.flex-conatiner {
    display: flex;
    justify-content: space-between;
    /* justify-items: center; */
    align-items: center;
}

.flex-item {
    flex: 1;
    background-color: lightblue;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-item {
    background-color: rgb(204, 204, 249);
}

#box {
    width: 100px;
    height: 100px;
    background-color: red;
}

#supervised_learning {
    background-color: rgba(31, 205, 112, 0.756);
    background-size: 100px;
}

#supervised_learning li {
    color: blue;
    font-size: 16px;
}

#unsupervised_learning li {
    color: red;
    font-size: 14px;
}

#reinforcement_learning ul > li {
    color: green;
    font-size: 14px;
}

#reinforcement_learning ol > li {
    color: yellow;
    font-size: 20px;
}

/*
unsupervised:
    - color: red
    - font-size: 14

reinforcement_learning
    ul
    - color: green
    - font-size: 14

    ol
    - color: yellow
    - font-size: 20
*/